/* :root{
  --sidebar-bg-color:#1a2038,
  --txt-color:#000814,
}

.sidebar-menu {
  background-color:#1a2038;
  width: 120px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;  
  top: 0;
  
  
} */
.sidebar-text {
  padding: 1px 5px;
  background-color: red;
}